body, html {
	width: 100%;
	height: 100%;
	background: #fff
}

.headerTitle {
	padding: .22rem .42rem .5rem
}

	.headerTitle h1 {
		font-size: .48rem;
		color: #000;
		line-height: .66rem;
		font-weight: 700
	}

	.headerTitle h2 {
		font-size: .32rem;
		color: #999;
		line-height: .44rem;
		margin-top: .24rem;
		font-weight: 500
	}

.area, .itemTitle {
	color: #333;
	line-height: .3rem;
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box
}

.item {
	width: 6.22rem;
	margin: 0 auto;
	height: 1.1rem;
	padding-top: .38rem;
	border-bottom: 1px solid #e5e5e5;
	box-sizing: border-box;
	position: relative
}

.itemTitle {
	width: 1.12rem;
	font-size: .28rem;
	height: .3rem;
	border-right: 1px solid transparent;
	font-weight: 500
}

.item > input {
	width: 4rem;
	display: inline-block;
	height: .72rem;
	font-size: .28rem;
	border: none;
	color: #333;
	background: 0 0;
	vertical-align: middle
}

.item #code {
	width: 2rem
}

.area {
	font-size: .3rem;
	height: .3rem;
	padding-right: .2rem;
	border-right: 1px solid #e5e5e5;
	font-weight: 600;
	margin-right: .35rem
}

.showPsd {
	position: absolute;
	top: .38rem;
	right: .12rem;
	height: .72rem
}

.button, .buttonBox {
	position: relative
}

.showPsd i {
	width: 1px;
	height: .72rem;
	overflow: hidden;
	visibility: hidden;
	display: inline-block;
	vertical-align: middle
}

.showPsd img {
	width: .38rem;
	height: .24rem;
	vertical-align: middle
}

.showPsd .show {
	display: none
}

.button {
	width: 6.22rem;
	display: block;
	margin: .96rem auto 0;
	background: linear-gradient(90deg,#FFA359 0,#FF5C75 100%);
	font-size: .32rem;
	color: #fff;
	text-align: center;
	height: .88rem;
	line-height: .88rem;
	border-radius: .44rem;
	box-sizing: border-box;
	z-index: 1
}

.shadow {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 5.68rem;
	height: 1rem;
	background: linear-gradient(90deg,rgba(255,163,89,1) 0,rgba(255,92,117,1) 100%);
	border-radius: .55rem;
	filter: blur(.1rem);
	-webkit-filter: blur(.1rem);
	z-index: 0
}

.button-verification-code {
	width: 1.54rem;
	height: .72rem;
	line-height: .72rem;
	font-size: .28rem;
	color: #fe0e4b;
	text-align: center;
	position: absolute;
	top: .38rem;
	right: 0
}

	.button-verification-code.not {
		color: #919191
	}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #bbb
}

input:-moz-placeholder, textarea:-moz-placeholder {
	color: #bbb
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #bbb
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #bbb
}
