.amountInput, .boxFooter {
	flex-direction: row;
	display: flex
}

.amountBox, .cashInfo {
	box-shadow: 0 .12rem .18rem 0 rgba(153,153,153,.17)
}

.button, .item, .pageTitle {
	box-sizing: border-box
}

.navRight .detail {
	padding-right: .3rem;
	height: .88rem;
	line-height: .88rem;
	font-size: .3rem;
	font-weight: 500;
	color: #333
}

.amountBox .title, .pageTitle {
	font-weight: 700;
	padding-left: .3rem
}

.pageTitle {
	width: 100%;
	height: 1.1rem;
	line-height: 1.1rem;
	font-size: .48rem;
	color: #000
}

.amountBox {
	margin: .3rem auto 0;
	padding-bottom:20px;
	width: 6.9rem;
	padding-top: .34rem;
	border-radius: .2rem
}

	.amountBox .title {
		font-size: .32rem;
		color: #1A1A1A;
		line-height: .58rem;
		height: .58rem;
		margin-bottom: .38rem
	}

.allAmount, .descLeft, .itemTitle, .itemValue {
	font-weight: 500
}

.amountInput {
	width: 6.3rem;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	align-items: center;
	justify-content: flex-start;
}

	.amountInput > span {
		width: .62rem;
		text-align: center;
		font-size: .6rem;
		font-weight: 500;
		color: #1A1A1A
	}

	.amountInput > input {
		flex: 1;
		height: .98rem;
		border: none;
		font-size: .7rem;
		color: #1A1A1A;
		background: 0 0
	}

.boxFooter {
	height: 1.22rem;
	align-items: center;
	padding-left: .3rem
}

.allAmount {
	font-size: .24rem;
	color: #f73e77
}

.item > input, .itemTitle, .itemValue {
	font-size: .28rem;
	color: #000
}

.cashInfo {
	margin: .36rem auto 0;
	width: 6.9rem;
	border-radius: .2rem;
	overflow: hidden
}

.item {
	background: #fff;
	width: 100%;
	height: .88rem;
	border-bottom: 1px solid #dedede;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: .24rem;
	position: relative
}

	.item > input, .showPsd i {
		height: .88rem;
		display: inline-block;
		vertical-align: middle
	}

.cashInfo .item:last-child {
	border-bottom: none
}

.itemTitle {
	width: 1.76rem
}

.itemValue {
	flex: 1
}

.item > input {
	width: 4rem;
	border: none;
	background: 0 0
}

.showPsd {
	position: absolute;
	top: 0;
	right: .24rem;
	height: .88rem
}

.button, .buttonBox {
	position: relative
}

.showPsd i {
	width: 1px;
	overflow: hidden;
	visibility: hidden
}

.showPsd img {
	width: .38rem;
	height: .24rem;
	vertical-align: middle
}

.showPsd .show {
	display: none
}

/*.button {
	width: 6.9rem;
	display: block;
	margin: .8rem auto 0;
	background: #f73e77;
	font-size: .3rem;
	color: #fff;
	text-align: center;
	height: .88rem;
	line-height: .88rem;
	border-radius: .44rem;
	z-index: 1
}*/

.button {
	width: 6.22rem;
	display: block;
	margin: .96rem auto 0;
	background: linear-gradient(90deg,#FFA359 0,#FF5C75 100%);
	margin-bottom:20px;
	font-size: .32rem;
	color: #fff;
	text-align: center;
	height: .88rem;
	line-height: .88rem;
	border-radius: .44rem;
	box-sizing: border-box;
	z-index: 1
}

.shadow {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 5.68rem;
	height: 1rem;
	background: linear-gradient(90deg,rgba(255,163,89,1) 0,rgba(255,92,117,1) 100%);
	border-radius: .55rem;
	filter: blur(.1rem);
	-webkit-filter: blur(.1rem);
	z-index: 0
}

.desc {
	margin-top: .4rem;
	display: flex;
	flex-direction: column;
	padding-left: .3rem
}

.descLeft {
	font-size: .32rem;
	line-height: .45rem;
	color: #1A1A1A;
	margin-bottom: .2rem
}

.descRight {
	display: flex;
	flex-direction: column
}

.descRight p {
	font-size: .28rem;
	line-height: .4rem;
	color: #666;
	margin-bottom: .08rem
}

